{% import "components/circleButton.html" as circleButton %}

{% macro render(navbar_text, current_q, search_label, search_available) %}
<nav id="navbar">
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
          </svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="{{url_for('customers_index')}}">Customers</a></li>
          <li><a href="{{url_for('products_index')}}">Products</a></li>
          <li><a href="{{url_for('suppliers_index')}}">Suppliers</a></li>
          <li><a href="{{url_for('orders_index')}}">Orders</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-xl">{{navbar_text}}</a>
    </div>
    <!-- Search bar -->
    {% if search_available != False %}
    <div class="navbar-end">
      <div class="form-control relative">
        <input type="text" placeholder="{{search_label}}" value="{{current_q}}" id="search_bar" class="input input-bordered w-24 md:w-auto pr-10"
          onchange="changeParameter('q', this.value)">
        <span class="search-icon">
          {{circleButton.render('', 'M6 18L18 6M6 6l12 12', "changeParameter('q', '')")}}
        </span>
      </div>
    </div>
    {% endif %}
  </div>
</nav>
{% endmacro %}