{% macro render(data, labels) %}
<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" onchange="checkAll(this)" />
          </label>
        </th>
        {% for label in labels %}
        <th>{{ label }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </td>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img src="{{ url_for('static', filename='placeholder.png') }}" alt="avatar" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ row[0] }}</div>
            </div>
        </td>
        {% for col in row[1:] %}
        <td>{{ col }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        {% for label in labels %}
        <th>{{ label }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>

<script>
  function checkAll(source) {
    var checkboxes = document.getElementsByClassName('checkbox');
    for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i] !== source) {
        checkboxes[i].checked = source.checked;
      }
    }
  }
</script>
{% endmacro %}