{% extends 'base.html' %}
{% import "components/table.html" as table %}
{% import "components/button.html" as button %}
{% import "components/pagination.html" as pagination %}


{% block header %}
{% endblock %}

{% block content %}
<div class="px-6 pt-10 w-full">
  <div class="flex mb-4 space-x-3">
    <!-- render add button -->
    {{button.render(
      "Add",
      "M12 4.5v15m7.5-7.5h-15",
      "create_customer_modal.showModal()"
      )}}
      
      <!-- render delete button -->
      {{button.render(
        "Delete",
        "M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244
        2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114
      1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32
      0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0",
      "deleteCustomer()"
      )}}

      <!-- render pagination controllers -->
      {{pagination.render(current_page, max_page)}}
    </div>

    <!-- Render Customers table -->
    {{ table.render(customers, [
      "Customer Number",
      "Name",
      "Email",
      "Phone",
      "Address"
    ]) }}
  </div>

  
  <!-- Add Customer Modal-->
  <dialog id="create_customer_modal" class="modal">
    <form method="dialog" class="modal-box space-y-4">
      <h1>Add Customer</h1>
      <div>
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input id="modal_name" type="text" placeholder="ex: Juan" class="input input-bordered w-full max-w-xs" />
      </div>
      <div>
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input id="modal_email" type="text" placeholder="ex: juan@tecnico.ulisboa.pt" class="input input-bordered w-full max-w-xs" />
      </div>
      <div>
        <label class="label">
          <span class="label-text">Phone</span>
        </label>
        <input id="modal_phone" type="text" placeholder="ex: 966555444" class="input input-bordered w-full max-w-xs" />
      </div>
      <div>
        <label class="label">
          <span class="label-text">Address</span>
        </label>
        <input id="modal_address" type="text" placeholder="ex: Lab15 - RNL" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="modal-action">

        <!-- if there is a button in form, it will close the modal -->
        <button class="btn" onclick="addCustomer()">Add</button>
      </div>
    </form>
  </dialog>

  <!-- Actions logic -->
  <script>
    const addCustomer = () => {
      //get modal input values
      const name = document.getElementById("modal_name").value
      const email = document.getElementById("modal_email").value
      const phone = document.getElementById("modal_phone").value
      const address = document.getElementById("modal_address").value  

      console.log(name, email, phone, address)

      //TODO: add toaster to alert user that all fields must be filled
      if (name === "" || email === "" || phone === "" || address === "") {
        return
      }

      if (!email.includes("@")) {
        return
      }

      if (phone.length !== 9 && !Number.isInteger(Number(phone))) {
        return
      }
    
      //redirect to add customer endpoint
      window.location.href = `/customers/add?name=${name}&email=${email}&phone=${phone}&address=${address}`
    }

    const deleteCustomer = () => {
      //check if the first checkbox is checked
      const firstCheckbox = document.querySelector(".checkbox")
      if (firstCheckbox.checked) {
        window.location.href = "/customers/delete?all=1"
      }

      //otherwise, find the checked checkboxes
      const checkboxes = document.querySelectorAll(".checkbox:checked")
      //get the customer numbers
      const customerNumbers = Array.from(checkboxes).map(checkbox => {
        return checkbox.parentElement.parentElement.parentElement.querySelector("td:nth-child(2)").innerText
      })

      //TODO: create toaster to alert user that no customers were selected
      if (customerNumbers.length === 0) {
        return
      }
      
      window.location.href = `/customers/delete?ids=${customerNumbers}`
    }
  </script>
{% endblock %}
